
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
              <ul>
                <li><a href="/">shop</a></li>
                <li><a href="/admin/add-product" >addProduct</a></li>
                <li><a href="/admin/contactus" >contactus</a></li>
              </ul>
            </nav>
        </header>
            <form  action = "/admin/add-product" method = "POST" >
                <input type = "text" name="product" >
                <input type = "text" name="size" >
                <button type = "submit" >send</button>
            </form>
     
    </body>
    </html>
    
